{% extends "base.html" %}
{% load static %}
{% block extra_title %}| Home{% endblock %}
        
{% block extra_meta %}
<meta property="og:image" content="https://attic-test-images.s3.eu-west-1.amazonaws.com/android-chrome-512x512.png">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="overlay-home"></div>
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row h-100">
        <div class="col-12 col-md-6 my-4">
            <h1 class="display-4 logo-font text-white">The new cameras are here</h1>
            <div class="my-3">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row h-100">
        <div class="col-12 col-md-6 my-4">
            <h1 class="display-4 logo-font text-white">Check our specials</h1>
            <div class="my-3">
                <h4>
                    <a href="{% url 'products' %}?category=specials" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">View here</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}