import os

os.environ["SECRET_KEY"] = '***********************'

os.environ["LOCALHOST"] = '127.0.0.1'
os.environ["GITPOD"] = '8000-sergiikostanets-attic-6k8ld1wsyfm.ws-eu104.gitpod.io'
os.environ["HEROKU"] = 'atticstore-95ba3f90b672.herokuapp.com'

os.environ["DEBUG"] = "True"
os.environ["DEVELOPMENT"] = "True"

# Database
os.environ["DATABASE_URL-online"] = 'postgres://***'

# Stripe
os.environ["STRIPE_PUBLIC_KEY"] = '****************'
os.environ["STRIPE_SECRET_KEY"] = '****************'
os.environ["STRIPE_WH_SECRET"] = '*****************'

# Amazon AWS
os.environ["AWS_ACCESS_KEY_ID"] = '****************'
os.environ["AWS_SECRET_ACCESS_KEY"] = '************'
os.environ["AWS_STORAGE_BUCKET_NAME"] = '**********'
