{% extends "base.html" %}
{% load static %}
{% block extra_title %}| Wishlist{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay-products"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mt-3 mb-3 text-white text-center">Wishlist</h2>
            <hr>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 col-lg-8 offset-lg-2">
            {% for item in wishlist_items %}
            <div class="row">
                <div class="col d-flex text-white">
                    <div class="wishlist-image-container mr-2">
                        {% if item.product.image %}
                        <a href="{{ item.product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        </a>
                        {% else %}
                        <a href="#">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                        </a>
                        {% endif %}
                    </div>
                    <div class="w-100">
                        <p><a class="text-white" href="{% url 'product_detail' item.product.id %}">{{item}}</a></p>
                        <p>€{{item.product.price}}</p>
                        {% if item.product.rating %}
                        <p class="text-gold"><i class="fas fa-star mr-1"></i>{{item.product.rating}} / 5</p>
                        {% else %}
                        <p>No Rating</p>
                        {% endif %}
                    </div>
                    <div class="d-flex flex-column">
                        <a class="text-white wishlist-remove-button" data-toggle="modal" data-target="#staticBackdropDelete">&times;</a>
                        <div class="modal fade" id="staticBackdropDelete" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropDeleteLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-black" id="staticBackdropDeleteLabel">Are you sure want to delete product</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-black">
                                        {{ item }}
                                        <hr>
                                        from you Wishlist
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary rounded-0 text-uppercase" data-dismiss="modal">Close</button>
                                        <a class="btn btn-danger rounded-0 text-uppercase" href="{% url 'remove_from_wishlist' item.id %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}