html {
    height: 100%;
}

body {
    /* height: calc(100vh - 164px); */
    height: 100vh;
    color: #555;
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
}

/* body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
} */

.logo-image {
    width: 38px;
    padding-bottom: 5px;
    margin: 0px -8px;
}

.card-img-top.img-fluid {
    aspect-ratio: 4/3;
    object-fit: cover;
}

.card {
    background-color: unset !important;
}

.step-links a {
    text-decoration: none;
}

.step-links a:hover,
.step-links a:focus,
.step-links a:active {
    color: #777 !important;
    border: none;
    outline: none;
}

footer {
    margin-top: auto;
    background-color: #000;
}

.footer-links {
    margin: 11px;
}

.footer-links p a {
    text-decoration: none;
    color: #fff;
}

.footer-links p a:hover,
.footer-links p a:focus,
.footer-links p a:active {
    color: #777;
    border: none;
    outline: none;
}

i.fa-brands,
i.fa-solid.fa-file {
    width: 40px;
    text-align: center;
    margin-left: 10px;
}

/* Mailchimp */

#mc_embed_signup{
    clear:left;
    font:14px Helvetica, Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
}

#mc_embed_signup form {
    margin: 10px !important;
}

#mc_embed_signup .helper_text {
    background-color: #000 !important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    background-color: #000 !important;
}

#mc_embed_signup .button {
    background-color: #fff !important;
    color: #000 !important;
    border-radius: 0 !important;
}

#mc_embed_signup .button:hover,
#mc_embed_signup .button:focus,
#mc_embed_signup .button:active {
    background-color: #222 !important;
    color: #fff !important;
    border: none !important;
    outline: none !important;
}

.mc-field-group input {
    border: none !important;
    outline: none !important;
    border-radius: 0 !important;
}

/* .refferal_badge {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #fff;
    color: #000;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn.btn-light {
    border: 1px solid #fff;
    background: #fff;
    color: #000;
}

.btn.btn-light:hover,
.btn.btn-light:active,
.btn.btn-light:focus,
.btn.btn-light:focus-visible,
.btn.btn-light:active:focus-visible {
    border: 1px solid #222;
    background: #222;
    color: gold;
}

form div .btn.btn-outline-black,
form div .btn.btn-light {
    height: 37px;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid #fff;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #222;
    color: white !important;
    border: 1px solid #222;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-light {
    color: #b6b6b6 !important;
}

.text-gold {
    color: gold !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.bg-dark {
    background: #00000093 !important;
}

.overlay-account {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgb(0, 0, 0)), url('https://attic-test-images.s3.eu-west-1.amazonaws.com/background-product-detail.jpeg') no-repeat center center fixed;
}

.overlay-home {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgb(0, 0, 0)), url('https://attic-test-images.s3.eu-west-1.amazonaws.com/background-home.jpg') no-repeat center center fixed;
}

.overlay-products {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgb(0, 0, 0)), url('https://attic-test-images.s3.eu-west-1.amazonaws.com/background-products.jpg') no-repeat center center fixed;
}

.overlay-product-detail {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgb(0, 0, 0)), url('https://attic-test-images.s3.eu-west-1.amazonaws.com/background-product-detail.jpeg') no-repeat center center fixed;
}

.overlay-bag {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgb(0, 0, 0)), url('https://attic-test-images.s3.eu-west-1.amazonaws.com/background-ricoh.jpeg') no-repeat center center fixed;
}

.overlay-account,
.overlay-home,
.overlay-products,
.overlay-product-detail,
.overlay-bag {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background-size: cover;
	z-index: -1;
}

a.category-badge > span.badge:hover,
a.category-badge > span.badge:focus,
a.category-badge > span.badge:focus-visible,
a.category-badge > span.badge:active {
    background: #ffffff !important;
    color: #000 !important;
    outline: none !important;
    border: 1px solid #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #777;
}

.btt-button:hover {
    background-color: #fff;
}

.btt-link:hover {
    color: #fff;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p,
.allauth-form-inner-content h2 {
    color: #ffffff; /* text-secondary */
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
    background-color: #dc3545;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    
    .logo-image {
        width: 30px;
        padding: 0px;
        margin: 0px;
    }
    
    .header-container {
        padding-top: 116px;
    }

    /* body { */
        /* height: calc(100vh - 116px); */
    /* } */
    
    .display-4.logo-font.text-white {
        font-size: 2rem;
    }
    
    .nav-link {
        padding: 0.15rem;
    }
    
    .nav-link i.fa-lg {
        font-size: 1rem;
    }
    
    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }
    
    #delivery-banner h4 {
        font-size: .9rem;
    }
    
    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0,
    .btn.btn-light.rounded-0 {
        padding: .375rem;
    }
    
    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg,
    .btn.btn-light.rounded-0.btn-lg {
        padding: .375rem;
        font-size: .75rem;
    }
    
    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
    
    .footer-links {
        /* text-align: center; */
        margin-left: 15%;
    }
}

@media (max-width: 444px) {

    .step-links {
        flex-direction: column;
        justify-content: center;
    }

    .step-links a {
        text-align: center;
        margin: 0px 0px 10px 0px !important;
    }
    
    .current-page {
        margin: 0px 0px 15px 0px !important;
    }
    
    .footer-links {
        margin-left: 4%;
    }
}

@media (max-width: 300px) {
    
    h2.logo-font.text-white {
        font-size: 1.5rem;
        margin-top: 20px;
    }
    
    .nav-link i.fa-lg {
        font-size: .8rem;
    }
    
    .nav-link p {
        font-size: .8rem;
    }
    
    .navbar-toggler {
        padding: .4rem;
        font-size: 1rem;
    }
    
    #delivery-banner h4 {
        font-size: .7rem;
    }
    
    .display-4.logo-font.text-white {
        font-size: 1rem;
    }
    
    .header-container {
        padding-top: 70px;
    }

    .shop-now-button {
        min-width: 160px;
    }
    
    footer h3 {
        font-size: 1.2rem;
    }
    
    .footer-links {
        font-size: .8rem;
        margin-left: 0px;
    }
}
