<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                <strong>
                    Attic
                </strong> Homepage
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cameras
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=digital_cameras"" class="dropdown-item">Digital Cameras</a>
                <a href="{% url 'products' %}?category=film_cameras"" class="dropdown-item">Film Cameras</a>
                <a href="{% url 'products' %}?category=film_cameras,digital_cameras" class="dropdown-item">All Cameras</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lences
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=lenses" class="dropdown-item">Lences</a>
                <a href="{% url 'products' %}?category=adapters,caps" class="dropdown-item">Adapters &amp; Caps</a>
                <a href="{% url 'products' %}?category=lenses,adapters,caps" class="dropdown-item">Lences &amp; Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=specials" class="dropdown-item">Specials</a>
                <a href="{% url 'products' %}?category=tripods" class="dropdown-item">Tripods</a>
                <a href="{% url 'products' %}?category=caps" class="dropdown-item">Caps</a>
                <a href="{% url 'products' %}?category=adapters" class="dropdown-item">Adapters</a>
                <a href="{% url 'products' %}?category=flashlights" class="dropdown-item">Flashlights</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Other Accessories</a>
                <a href="{% url 'products' %}?category=specials,tripods,caps,adapters,flashlights,accessories" class="dropdown-item">All Accessories</a>
            </div>
        </li>
    </ul>
</div>